# Dependencies
node_modules/
*/node_modules/

# Build outputs
build/
dist/
*/build
*/dist

# Environment variables
.env
*/.env

# IDE files
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# SQLite database
*.db
*.sqlite

*/package-lock.json
warden-app/package-lock.json
